.h-auto {
    height: auto;
}

.lqip {
    background-size: cover;
    background-repeat: no-repeat;
}

.post-cover .lqip {
    border-radius: 8px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}
