{{- $resWidths := slice "240" "480" "720" "960" "1200" "1440" "1680" "1920" "2160" "2400" "2640" "2880" "3120" "3360" "3600" "3840" -}}

{{- $src := .Page.Resources.GetMatch (.Get "src") -}}
{{- $alt := .Get "alt" -}}
{{- $hint := .Get "hint" -}}
{{- if $hint -}}{{- $hint = printf " %s" $hint -}}{{- end -}}
{{- $filter := .Get "filter" -}}
{{- if $filter -}}{{- $filter = printf " %s" $filter -}}{{- end -}}

{{- $LqipBin := $src.Resize "8x jpg" -}}
{{- $LqipB64 := $LqipBin.Content | base64Encode -}}
{{- $divStyle := printf "background: url(data:image/jpeg;base64,%s); background-size: cover;" $LqipB64 -}}
{{- $sourceSizes := "(min-width: 800px) 800px, 100vw" -}}

{{- $fallbackBin := $src.Resize (printf "760x jpg%s" $filter) -}}

<div class="bg-lqip" style="{{ $divStyle | safeCSS }}">
	<picture>
		<source type="image/webp" srcset="
			{{- with $resWidths -}}
				{{- range $i, $e := . -}}
					{{- if ge $src.Width . -}}
						{{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx webp%s%s" . $hint $filter) ).RelPermalink }} {{ . }}w
					{{- end -}}
				{{- end -}}
			{{- end -}}" sizes="{{ $sourceSizes }}">
		<source type="image/jpeg" srcset="
			{{- with $resWidths -}}
				{{- range $i, $e := . -}}
					{{- if ge $src.Width . -}}
						{{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx jpg%s" . $filter) ).RelPermalink }} {{ . }}w
					{{- end -}}
				{{- end -}}
			{{- end -}}" sizes="{{ $sourceSizes }}">
		<img src="{{ $fallbackBin.RelPermalink }}" alt="{{ $alt }}" width="{{ $src.Width }}" height="{{ $src.Height }}" style="height: auto;">
	</picture>
</div>
